<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

  <test name="Prima Clasa ">
  <parameter name="test" value="Ohmygod"/>
  <parameter name="test2" value="godOhMy"/>
   	<classes>
   		<class name="playground.primaClasa">
   			<methods> 
   				<include name ="class1method1"></include>
   				<include name ="class1method2"></include>
   				<include name ="class1method3"></include>
   				<include name ="class1method4"></include>
   			</methods>
   		</class>
  	 </classes>
   </test>
   
   <test name="Clasa a doua">
   <parameter name="RLU" value="Shelvetica.org"/>
   	<classes>
   		<class name="playground.aDouaClasa">
   			<methods>
   				<exclude name="class2method1"></exclude>
   				<exclude name="class2method3"></exclude>
   			</methods>
   		</class>
   	</classes>
   </test>
   
    <test name="rest of the classes">
    <classes>
      <class name="playground.aTreiaClasa"/>
      <class name="playground.aPatraClasa"/>
    </classes>
  </test> 
   
   
</suite> 
